NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCOb59f2tUuE1GA5aF-QYwP2WaqjrtUlZg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nausheen-fruits.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nausheen-fruits
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nausheen-fruits.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=643621969675
NEXT_PUBLIC_FIREBASE_APP_ID=1:643621969675:web:82af02dd7399fa9fc80c0e
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://nausheen-fruits-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=nausheen-fruits-new
FIREBASE_CLIENT_EMAIL=nausheen-fruits-new@appspot.gserviceaccount.com
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=
ERROR_MONITORING_ENABLED=true
SENTRY_DSN=

